body {
	background-color: #000000;
	margin: 0;
	padding: 0;
}
.main {
	background-color: #202020;
	height: calc(100vh - 94px);
	width: calc(100vw - 25px);
	position: relative;
	top: 26px;
	left: 10px;
}
.headerText {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 54px;
	position: relative;
	top: 20px;
	left: 20px;
	width: calc(100% - 20px);
}
.mainText {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 24px;
	margin: 6px 24px;
}
.topBar {
	background-color: #1a1a1a;
	display: flex;
	gap: 10px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 1000;
	padding: 10px;
	transition: 0.2s;
}
.topBar:hover {
	background-color: #5d5d5d;
	transition: 0.2s;
}
.topBar a {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 30px;
	text-decoration: none;
	align-self: center;
	margin: 0 20px;
}
.topBar a:hover {
	font-size: 36px;
	transition: 0.2s;
}
.topBar img {
	display: block;
	height: 50px;
	width: 50px;
}
